* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  line-height: 0;
  background: #272e34;
  font-size: 1.4rem; }

.wrapper {
  width: 100%;
  overflow-x: hidden; }
  .wrapper section {
    width: 100%;
    display: inline-block; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #fff; }

p {
  font-family: 'Montserrat', sans-serif;
  color: #88782f;
  line-height: 22px;
  font-size: 1.4rem; }

/*
 * Main -------------------------------
 */
.main {
  background: url("../images/sec1.png") no-repeat;
  background-size: auto;
  padding: 155px 0 195px 0; }
  .main h1 {
    text-indent: -9999%;
    display: block;
    height: 195px;
    width: 195px;
    background: url("../images/logo.png");
    background-size: 100%;
    margin: 0;
    margin-left: calc(50% - 97.5px); }
  .main .main__title {
    margin: 72px auto;
    line-height: 45px;
    max-width: 543px;
    text-align: center;
    letter-spacing: 4.7px;
    font-weight: bold; }
  .main .main__btn-reserve {
    border: 4px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 27px 24px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 1px;
    margin: 0 auto;
    display: block; }

/*
 * Video-bon -------------------------------
 */
.video-bon__wrap {
  position: relative; }
  .video-bon__wrap .video-bon__video {
    width: 100%; }
  .video-bon__wrap .video-bon__play {
    position: absolute;
    height: 168px;
    width: 168px;
    background: url("../images/play.png");
    top: calc(50% - 84px);
    left: calc(50% - 84px);
    border-radius: 50%; }

/*
 * Steps -------------------------------
 */
.steps-right {
  background: #FFDF00;
  padding: 100px 0; }
  .steps-right img {
    float: right;
    padding-right: 6%; }
  .steps-right .steps-right__text-wrap {
    padding-left: 10%;
    max-width: 470px;
    margin-top: 490px; }
    .steps-right .steps-right__text-wrap h2 {
      color: #272e34;
      font-weight: bold; }

.steps-left {
  background: #272e34;
  padding: 100px 0; }
  .steps-left img {
    float: left;
    padding-left: 5%; }
  .steps-left .steps-left__text-wrap {
    margin: 0 auto;
    max-width: 360px;
    margin-top: 438px; }
    .steps-left .steps-left__text-wrap p {
      color: #cfd0d1; }

/*
 * Download -------------------------------
 */
.download {
  padding: 93px 0 65px 0;
  text-align: center;
  background: #FFDF00; }
  .download .download__title {
    max-width: 1220px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 4.7px;
    color: #272e34;
    margin: 0 auto;
    font-weight: bold;
    padding: 0 30px; }
  .download .download__paragraph {
    max-width: 945px;
    margin: 22px auto;
    margin-bottom: 40px;
    padding: 0 30px; }
  .download .download__appstore {
    border: 4px solid rgba(136, 120, 47, 0.5);
    background: transparent;
    padding: 15px 24px 6px 24px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0 auto;
    display: block; }
    .download .download__appstore .download__appstore-text {
      max-width: 100px;
      text-align: left;
      color: #272e34;
      float: left; }
      .download .download__appstore .download__appstore-text span {
        font-size: 1.6rem; }
    .download .download__appstore .download__appstore-icon {
      width: 32px;
      height: 39px;
      background: url("../images/icon-apple.png");
      float: left;
      margin-right: 20px; }

/*
 * Footer-------------------------------
 */
footer {
  padding: 55px 30px 65px 30px;
  max-width: 1210px;
  margin: 0 auto;
  color: #cfd0d1; }
  footer .footer__social {
    float: right;
    width: auto; }
    footer .footer__social li {
      list-style: none;
      display: inline-block;
      margin-left: 45px;
      line-height: 22px; }
      footer .footer__social li a {
        color: #cfd0d1; }
  footer .footer__copyright {
    color: #cfd0d1;
    display: block; }

/*
 * Media queries ----------------------------------------
 */
@media (max-width: 1170px) and (min-width: 991px) {
  .steps-right, .steps-left {
    padding: 80px 0; }
    .steps-right img, .steps-left img {
      width: 400px; }
    .steps-right .steps-right__text-wrap, .steps-left .steps-right__text-wrap {
      margin-top: 358px; }
    .steps-right .steps-left__text-wrap, .steps-left .steps-left__text-wrap {
      margin-top: 310px; } }
@media (max-width: 990px) {
  .main {
    padding: 80px 0 100px 0; }

  .steps-right, .steps-left {
    padding: 80px 0; }
    .steps-right img, .steps-left img {
      width: 400px;
      margin: 0 auto;
      padding: 0;
      float: none;
      margin-left: calc(50% - 200px); }
    .steps-right .steps-right__text-wrap, .steps-left .steps-right__text-wrap {
      padding-left: 0;
      max-width: 470px;
      margin: 0 auto;
      margin-top: 60px; }
    .steps-right .steps-left__text-wrap, .steps-left .steps-left__text-wrap {
      padding-left: 0;
      max-width: 470px;
      margin: 0 auto;
      margin-bottom: 60px; }

  footer {
    padding-left: 30px;
    padding-right: 30px; }
    footer .footer__social {
      width: 50%;
      float: left; }
      footer .footer__social .footer__social-wrap {
        float: right; }
    footer .footer__copyright {
      width: 50%;
      float: left; } }
@media (max-width: 768px) {
  .main h1 {
    width: 170px;
    height: 170px;
    margin-left: calc(50% - 85px); }

  .video-bon__wrap .video-bon__play {
    height: 100px;
    width: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background-size: 100%; }

  .steps-right img, .steps-left img {
    width: 300px;
    margin: 0 auto;
    padding: 0;
    float: none;
    margin-left: calc(50% - 150px); } }
@media (max-width: 745px) {
  footer {
    padding: 40px 30px; }
    footer .footer__social {
      width: 100%;
      float: none;
      margin: 0 auto; }
      footer .footer__social .footer__social-wrap {
        float: none;
        margin: 0 auto;
        margin-top: 20px;
        width: 344px; }
    footer .footer__copyright {
      width: 100%;
      float: none;
      text-align: center; }

  .steps-right img, .steps-left img {
    width: 250px;
    margin-left: calc(50% - 125px); } }
@media (max-width: 445px) {
  .main {
    padding: 60px 0 60px 0; }
    .main h1 {
      width: 150px;
      height: 150px;
      margin-left: calc(50% - 75px); }
    .main .main__title {
      margin: 50px auto;
      padding: 0 20px; }

  footer {
    padding-bottom: 25px; }
    footer .footer__social .footer__social-wrap {
      width: auto; }
      footer .footer__social .footer__social-wrap li {
        list-style: none;
        display: block;
        text-align: center;
        margin-bottom: 15px;
        margin-left: 0; } }

/*# sourceMappingURL=styles.css.map */
